# Ignore everything by default
*

# Whitelist directories so subdirectories are included
!*/

# Include .R, .py, and .md files
!*.R
!*.py
!*.md

# Include the .gitignore file itself
!.gitignore

# Exclude any directories with `_env` in the name (override whitelisting)
*_env/
*_env/**

# Whitelist all other subdirectories
!*/